<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>StudyFlow | {% block title %}{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
        * {
            font-family: "Fredoka", sans-serif;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container my-5">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>